

<!-- <app-register></app-register> -->
<!-- <app-login></app-login>  -->
<!-- <app-showemployees></app-showemployees> -->
<!-- <app-showempbyid></app-showempbyid> -->

<app-header></app-header>


<router-outlet></router-outlet>