<h3 class="text-dark" style="color: rgb(24, 224, 194);">Welcome {{emailId}}!</h3>
<h1 class="text-center" style="color: rgb(0, 255, 0);">Products</h1> <br/>

<div class="container" style="background-color: rgb(112, 142, 216);  padding-top: 20px;">
    <div class="row">
        <div class="col-md-4 mb-4" *ngFor="let product of products">
            <div class="card">
                <img class="card-img-top" [src]="product.imgsrc" alt="Card image" style="width:100%; height: 400px; object-fit: cover; padding-top: 20px;">
                <div class="card-body">
                  <h4 class="card-title"><b>{{product.name}}</b></h4>
                  <p class="card-text">{{product.description}}</p>
                  <p class="card-text"><b>Price: ₹{{product.price}}/- </b></p>
                  <p class="text-right">
                    <button (click)="addToCart(product)" class="btn btn-primary stretched-link">Add to Cart</button>
                  </p>
                </div>
            </div>
        </div>
    </div>
</div>